@import url('./assets/css/reset.css');
@import url('./assets/css/fonts.css');

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:root {
	font-family: "Roboto", sans-serif;
}

.box	{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	background-color: #B9DEE6;
	width: 100vw;
	height: 100vh;
}

.userCard {
	width: 330px;
	min-width: 300px;
	height: 500px;
	border-radius: 5px;
	background-color: #FEFEFE;
	box-shadow: 0 3px 5px 1px gray;
	margin: 20px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 32px;
}

.imageWrapper {
	position: relative;
	margin-bottom: 30px;
}

.imageWrapperInner {
	display: block;
	width: var(--user-card-image);
	height: var(--user-card-image);
	border-radius: 50%;
	border: 10px solid #EFEFEF;
	overflow: hidden;
	margin: auto;
}

.imageWrapperInner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.country {
	position: absolute;
	text-align: center;
	left: 100px;
	top: 100px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 4px solid #fff;
	overflow: hidden;
}

.country img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.userName {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	color: #FE5736;
	margin-bottom: 17px;
}

.userInfo {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: black;
	margin-bottom: 50px;
}

.userAboutSelf {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #222222;
	line-height: 1.5;
	margin: 0 30px;
}

.social {
	display: flex;
	list-style: none;
	justify-content: space-evenly;

	margin-top: 40px;
}

.socialLink {
}

.socialLink img {
	width: 20px;
	height: 20px;
}
